@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --primary: #394559;
  --secondary: #f1492a;
  --radius: 0.625rem;
}

@theme inline {
  --container-sm: 23.438rem; /* Change to 375px */
  --container-md: 37.5rem; /* Change to 600px */
  --container-lg: 48rem; /* Change to 768px */
  --container-xl: 64rem; /* Change to 1024px */
  --container-2xl: 80rem; /* Change to 1280px */

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-roboto: var(--font-roboto);
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-primary font-roboto font-semibold mb-2 leading-[1.25];
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-[24px];
  }
}

body {
  color: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-image: url("/background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
